<router-outlet></router-outlet>

<h3>Testando if e else</h3>

@if (ehVerdadeira) {
  <span> É verdadeira Sim</span>
}@else {
  <span> É falso</span>
}
<br>
<span *ngIf="ehVerdadeira">
  É verdadeira sim com diretiva ngIf
</span>

<h3>Testando Switch</h3>
@switch (status) {
  @case ('admin') { 
    <!-- <admin-dashboard/>  -->
    <h2>AdminText</h2>
  }
  @case ('moderator') { 
    <!-- <moderator-dashboard/>  -->
    <h2>Moderado</h2>
  }
  @default { 
    <!-- <user-dashboard/>  -->
    <h2>Default</h2>
  }
}

<h5>Modo antigo</h5>
<div [ngSwitch]="status">
  <!-- <div *ngSwitchCase="admin">
    Opção 01
  </div> -->

  <!-- <admin-dashboard *ngSwitchCase="admin"/>
  <moderator-dashboard *ngSwitchCase="moderator"/>
  <user-dashboard *ngSwitchDefault/> -->
</div>


<h3>Testando For</h3>

@for (item of filmes; track $index) {
  <span>
    {{item}},
  </span>
}

